# Dependencies
node_modules

# Next.js build output
/.next

# Serverless build output
/serverless

# IDE/editor files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# npm package locks
package-lock.json
yarn.lock

# Runtime data
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts